@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:wght@400;500;700;800&display=swap');

* {
    font-family: "Schibsted Grotesk", sans-serif;
}

html, 
body {
    margin: 0;
    height: 100%;
}
a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: inherit; 
}

#home-page {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    text-align: center;
    justify-content: center;
}

#logo {
    font-size: 100px;
}

#search-bar {
    margin-top: 12px;
    width: 100%;
}

#home-page #search-bar .search-button {
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 3px;
    height: 36px;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#home-page #search-bar .search-box {
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.08);
    height: 34px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 40%;
}

/* search results styles */

#search-page {
    display: grid;
}

#search-page #logo {
    font-size: 24px;
    width: 150px;
    padding: 5px 10px;
    box-sizing: border-box;
}

.search-page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000;
    height: 100px;
    box-sizing: border-box;
    margin-left: 60px;
    margin-right: 60px;
}

/* search results search bar */

#search-page #search-bar .search-button {
    color: #FFF;
    background-color: #000;
    border: none;
    border-radius: 3px;
    height: 36px;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

#search-page #search-bar .search-box {
    border: none;
    border-radius: 2px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1), 0 0 0 1px rgba(0,0,0,0.08);
    height: 34px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 40%;
}

/* search tab styles */

.search-tabs {
    margin-left: 60px;
}

.tab-list {
    padding: 0;
    margin-top: 12px;
}

.tab-list li {
    display: inline-block;
    padding: 12px;
}

.tab-list li.active {
    border: 2px solid black;
    border-radius: 6px;
    font-weight: bold;
}

/* search results */ 

#resultsDisplay {
    margin-left: 60px;
    margin-right: 60px;
}

/* page numbers */

#page-number-container {
    position: relative;
    bottom: 0px;
    margin-left: 60px;
}

.page-numbers {
    display: inline-block;
    padding: 0.5rem;
}

