@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@1,100;1,200;1,300;1,400&family=Schibsted+Grotesk:wght@400;500;600;900&display=swap');

/* Global Styles */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #000119;
}

a {
    text-decoration: none;
    background: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

a:visited {
    color: inherit;
}

/* Home page */

#home-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logo {
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 14rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

#tagline {
    color: #00a2ffb7;
    font-family: "Roboto Serif", serif;
    font-style: italic;
}

#home-page #search-bar .search-button {
    color: #000119;
    background: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    border: none;
    border-radius: 3px;
    height: 62px;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Schibsted Grotesk", sans-serif;
}

#home-page #search-bar .search-box {
    background: transparent;
    border: 2px solid #ecf0f3;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 450px;
    color: #ecf0f3;
    font-family: "Roboto Serif", serif;
}

/* Search Page */

#search-page {
    display: grid;
}

#search-page #logo {
    font-size: 4rem;
    padding: 5px 10px;
    box-sizing: border-box;
    font-family: "Schibsted Grotesk", sans-serif;
}

.search-page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #00a2ff;
    height: 160px;
    box-sizing: border-box;
    margin-left: 70px;
    margin-right: 70px;
    justify-content: space-between;
}

/* Search Results Search Bar */

#search-page #search-bar .search-button {
    color: #000119;
    background: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    border: none;
    border-radius: 3px;
    height: 62px;
    width: 125px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Schibsted Grotesk", sans-serif;
}

#search-page #search-bar .search-box {
    border: none;
    border: 2px solid #ecf0f3;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 0 0 0 1px rgba(0, 0, 0, 0.08);
    height: 60px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 18px;
    width: 300px;
    font-family: "Roboto Serif", serif;
    color: #ecf0f3;
    background: transparent;
}

/* Search Tabs */

.search-tabs {
    margin-left: 70px;
}

.tab-list {
    padding: 0;
    margin-top: 12px;
}

.tab-list li {
    display: inline-block;
    padding: 12px;
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 32px;
    height: 40px;
}

.tab-list li.active {
    border: 2px solid #ecf0f3;
    border-radius: 3px;
    font-weight: bold;
}

/* Search Results */

#resultsDisplay {
    margin-left: 70px;
    margin-right: 70px;
    color: #ecf0f3;
}

.title,
.result,
.description,
.totalResults {
    font-family: "Schibsted Grotesk", sans-serif;
}

.url {
    font-size: 12px;
    color: #77c7f4;
    line-height: 32px;
    font-family: "Roboto Serif", serif;
}

.resultContainer {
    border: 1px solid rgba(242, 242, 242, 0.311);
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.resultDetail {
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0.1rem;
}

/* Page Numbers */

#page-number-container {
    position: relative;
    bottom: 0;
    margin-left: 60px;
}

.pagination {
    background: linear-gradient(to right, #09f1b8, #00a2ff, #ff00d2, #fed90f);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: "Schibsted Grotesk", sans-serif;
    font-size: 32px;
}

/* Media Queries */

@media screen and (max-width: 800px) {
    #logo {
        font-size: 10rem;
    }
    
    #tagline {
        font-size: 14px;
    }
    
    #home-page #search-bar .search-box {
        font-size: 18px;
        width: 250px;
    }

    #search-page #search-bar .search-button {
        width: 80px;
    }
    
    #search-page #search-bar .search-box {
        width: 160px;
    }

    .search-page-header {
        margin-left: 20px;
        margin-right: 20px;
    }

    .search-tabs {
        margin-left: 20px;
    }

    #resultsDisplay {
        margin-left: 20px;
        margin-right: 20px;
    }

}

@media screen and (max-width: 500px) {
    #home-page #search-bar .search-button {
        width: 80px;
    }
    
    #home-page #search-bar .search-box {
        font-size: 18px;
        width: 250px;
    }
}

@media screen and (max-width: 480px) {
    #home-page {
        width: 80%;
        top: 30%;
    }
    
    #logo {
        font-size: 8rem;
    }
    
    #tagline {
        font-size: 12px;
    }
    
    #home-page #search-bar .search-button {
        width: 70px;
        font-size: 16px;
    }
    
    #home-page #search-bar .search-box {
        font-size: 18px;
        width: 200px;
    }

    #search-page-header {
        display: block;
        margin-left: 8px;
        margin-right: 8px;
        box-sizing: border-box;
    }

    #search-page #search-bar {
        display: flex;
    }

    .search-page-header #logo {
        font-size: 2rem;
    }
    
    #search-page #search-bar .search-button {
        height: 340px;
        font-size: 18px;
        /* margin-top: 10px;
        width: 100%; */
    }
    
    #search-page #search-bar .search-box {
        height: 340px;
        padding: 0px;
        font-size: 18px;
        width: 200px;
    }
}
